black==22.8.0
fastapi==0.85.0
gunicorn==20.1.0
locust==2.12.1
mlflow==1.29.0
notebook==6.4.12
numpy==1.23.3
onnx==1.12.0
onnxruntime==1.12.1
onnxmltools==1.11.1
pandas==1.5.0
pytorch-lightning==1.7.7  
scikit-learn==1.1.2
skl2onnx==1.12
tokenizers==0.12.1
torch==1.12.1
transformers==4.22.1
uvicorn==0.18.3
xgboost==1.6.2